# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-store/

# Diagnostic reports (https://nodejs.org/api/report.html)
.report/
# Next-js build output
.next/

# Runtime data
*.rs
*.tgz
.yarn/
# Production Bundle
dist
dist-ssr
*.local

# dotenv environment variables file
.env
.env.local
.env.*.local

# Endpoints
.vercel/
.netlify/
.cache/
# Output of 'npm install'
node_modules
/node_modules

# Editor directories and files
.idea
.vscode
*.suo
*.user
*.tss
*.map
*.bak

# System Files
.DS_Store
Thumbs.db